@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
.main-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: rgb(247, 228, 199);
}

.search-btn {
    font-size: 25px;
}

.search-btn:hover {
    cursor: pointer;
    border-bottom: 2px solid lightcoral;
}

.logo {
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
}

.logo:hover {
    border-bottom: 2px solid lightcoral;
    color: lightcoral;
    text-decoration: none;
}