@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


body {
  margin: 0;
  font-family:'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Baloo 2', cursive;
}

