.exp-cmt-success {
    color: #57A773;
    padding: 1rem;
}

.exp-cmt-err {
    color: #EE6352;
    padding: 1rem;
}

.comment-btn {
    background: rgb(13, 247, 13);
}

.comment-btn:hover {
   background: rgb(0, 219, 0);

}